body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.05rem;
  background-color: #121212;
  color: #e8e8e8;
  padding: 0;
  margin: 0;
}

main {
  min-height: calc(100vh - 100px);
  margin: 0;
  padding: 8px;
}

td,
th {
  border: 1px solid #00ffff;
  box-shadow: 0 0 5px #00ffff inset;
  padding: 5px;
}

.headings {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

td.headings {
  color: #d1d1d1;
}

td.headings span.hname {
  color: white;
}

#planets {
  /* Remove the gutters, 
  prevent border stacking between cells */
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 0 5px #00ffff;
  width: calc(100% - 30px);
  text-align: right;
  margin: 15px;
  box-sizing: border-box;
}

#images {
  text-align: center;
}

/* Blend with the background of most of the images */
#images td:not(.headings) {
  background-color: black;
}

hr {
  height: 0;
  outline: none;
  border: 1px solid #00ffff;
  box-shadow: 0 0 5px #00ffff;
  overflow: visible;
  padding: 0 5px;
}

h1 {
  margin: 0;
}

footer {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100vw;
  margin-top: 30px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 40px;
}

footer .github-link {
  margin-left: 10px;
  margin-top: 10px;
}

a {
  color: #00a6ff;
  text-decoration: none;
  transition: 0.2s linear;
  border: 2px solid #00ffff78;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  text-shadow: 0 0 5px #00a6ff;
  border-color: #00ffff;
}
